body  {
  color:black;
  background-color:grey;
  background-image:url(Background01.jpg);/* une belle image de font que j'ai fait moi même */
  position: relative;
}

/* Je sélectionne les <li> du menu horizontal */
ul#menu_horizontal li { 
display : inline;
padding : 0px 30px; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}


.container{
	background: #FFF;
	width: 1400px;
	margin-left:auto;
	margin-right:auto;
	min-height: 1200px;
	position : relative;
	left : 0px;
	padding: 1px;
	background: #BDBDBD;
	}


.containerHoriz{
	font-size: 20px;
	background: #585858;
	width: auto;
	text-align : center;
	height: 45px;
	border-collapse: separate;
    border-spacing: 10px 10px;


   }

#footer {
    position: absolute;
    bottom: 0;

}

#moncadre {
	position: absolute;
    width: 1390px;
    bottom: 0;
    left: 5px;
	background:#BDBDBD;
	margin-top: 5px;

}

.titre{
	color:white;
	font-size: 40px;
	position:absolute;
	top:360px; 
	width:600px; 
	height:400px; 
	z-index:2;
	margin-left:550px;
	margin-top:-150px;
}

.sous_titre{

	color:white;
	font-size: 20px;
	position:absolute;
	top:380px; 
	width:600px; 
	height:400px; 
	z-index:2;
	margin-left:650px;
	margin-top:-70px;

}
   
#Divhaut{
	
	background: #BDBDBD;
	
}   
h1{
	font-size: 50px;
	text-shadow: -1px -1px #808080, 1px 1px #C0C0C0, -3px 0 4px #000;
	font-family:Arial, Helvetica, sans-serif;
	color: grey;
	padding:16px;
	font-weight:lighter;
	-moz-box-shadow: 2px 2px 6px #C0C0C0;  
	-webkit-box-shadow: 2px 2px 6px #C0C0C0;  
	box-shadow:2px 2px 6px #C0C0C0;  
	text-align:center;
	display:block;
	margin:16px;
}   
#textpetit {
	
	font-size: 25px;
	color: grey;
	text-align:center;
	display:block;
	font-weight:700;

}

li.bouton_gauche, li.bouton_droite {
	border-right: 2px solid black;
}
.tableau {
	position : center;
	margin-left:auto;
	margin-right:auto;
	width: 1000px;

	
}
.tablhaut{
	font-size: 15px;
	width: auto;
	text-align : center;
	height: 45px;
	border-collapse: separate;
    border-spacing: 10px 10px;
	margin-left:auto;
	margin-right:auto;
	
  }
.Textevent {
	color: white;
	text-align : center;
	text-shadow: -1px -1px #808080, 1px 1px #C0C0C0, -3px 0 4px #000;
	font-size: 20px;
	background: #585858;
	height: 40px;
	padding-top : 12px;
	
		
}	
.lignetable {
	
	background:#DCDCDC;
	height: 50px;
	width: 210px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}
.lignetable1 {
	
	background:#DCDCDC;
	height: 50px;
	width: 550px;
	border-top: 3px solid white;
	border-bottom: 3px solid white;
}



   
 /* 
@media screen and (max-width: 1280px) {
	.container {
		width: 85%;
		background-color:rgb(50,50,50)
	}
	.icone1{
	display: none;
	}
	.menu{
		position: relative;
		top: 200px;
		left: 80px;
		display: block;
		font-size: 75%;
	}
	.tableaucep2{
	
	}
	.tablimg{
	max-width: 700px;
	min-width: 700px;
	max-height: 700px;
	display: block;
	float: center;
	}
}

@media screen and (max-width: 768px) {
	.container {
		width: 75%;
		background-color:rgb(30,30,30);
	}

}

@media screen and (max-width: 378px) {
	.container {
		width: 25%;
		background-color:rgb(20,20,20);


*/

