body  {
  color:black;
  background-color:grey;
  background-image:url(Background01.jpg);/* une belle image de font que j'ai fait moi même */
  position: relative;
}

/* Je sélectionne les <li> du menu horizontal */
ul#menu_horizontal li { 
display : inline;
padding : 0px 30px; /* Pour espacer les boutons entre eux */
}
ul#menu_horizontal {
list-style-type : none; /* Car sinon les puces se placent n'importe où */
}
	


.container{
	background: #FFF;
	width: 1400px;
	margin-left:auto;
	margin-right:auto;
	min-height: 1200px;
	position : relative;
	left : 0px;
	padding: 1px;
	background: #BDBDBD;
	}
	
li.bouton_gauche, li.bouton_droite {
	border-right: 2px solid black;
	border left: 2px solid black;
}

.containerHoriz{
	font-size: 20px;
	background: #585858;
	width: auto;
	text-align : center;
	height: 45px;
	border-collapse: separate;
    border-spacing: 10px 10px;
   }
#footer {
    position: absolute;
    bottom: 0;

}

#moncadre {
	position: absolute;
    width: 750px;
    bottom: 0;
    left: 10px;
	background:#BDBDBD;

}

.titre{
	color:white;
	font-size: 40px;
	position:absolute;
	top:360px; 
	width:600px; 
	height:400px; 
	z-index:2;
	margin-left:550px;
	margin-top:-150px;
}

.sous_titre{

	color:white;
	font-size: 20px;
	position:absolute;
	top:380px; 
	width:600px; 
	height:400px; 
	z-index:2;
	margin-left:650px;
	margin-top:-70px;

}

.titre02{
	margin-top:10px;
}
h1{
    text-align: center;
}

   
   
   
   
 /* ------------------------------------------------------------------------------------------------------------------*/

@media screen and (max-width: 1280px) {

    body  {
        color:black;
        background-color:grey;
        background-image:url(Background01.jpg);
        position: relative;
    }
    ul#menu_horizontal li {
        display : inline;
        padding : 0px 30px;
    }
    ul#menu_horizontal {
        list-style-type : none;

    }
    .background{
        width:100%;
    }
    .titre,.sous_titre{
        margin-right: 1000px;
        position: relative;
        width: 50%;
    }


    
    
    .container{
        background: #FFF;
        width: 900px;
        margin-left:auto;
        margin-right:auto;
        min-height: 1200px;
        position : relative;
        left : 0px;
        padding: 1px;
        background: #BDBDBD;
    }

    li.bouton_gauche, li.bouton_droite {
        width: 50%;
        height: 50%;

    }

    .containerHoriz{
        font-size: 20px;
        background: #585858;
        width: auto;
        text-align : center;
        height: 70px;
        border-collapse: separate;
        border-spacing: 10px 10px;
    }
    #footer {
        position: absolute;
        bottom: 0;

    }

    #moncadre {
        position: absolute;
        width: 500px;
        bottom: 0;
        left: 10px;
        background:#BDBDBD;

    }

    .titre{
        color:white;
        font-size: 40px;
        position:absolute;
        top:360px;
        width:500px;
        height:400px;
        z-index:2;
        margin-left:250px;
        margin-top:-150px;
    }

    .sous_titre{

        color:white;
        font-size: 20px;
        position:absolute;
        top:380px;
        width:500px;
        height:400px;
        z-index:2;
        margin-left:325px;
        margin-top:-70px;

    }

    .titre02{

        margin-top:10px;

    }
    h1{
        text-align: center;
    }






    @media screen and (max-width: 768px) {
	    .container {
		width: 75%;
	    }
        .containerHoriz{
            font-size: 20px;
            background: #585858;
            width: auto;
            text-align : center;
            height: 100px;
            border-collapse: separate;
            border-spacing: 10px 10px;
        }
        .titre{
            color:white;
            font-size: 25px;
            position:absolute;
            top:360px;
            width:500px;
            height:400px;
            z-index:2;
            margin-left:100px;
            margin-top:-150px;
        }
        .sous_titre{

            color:white;
            font-size: 15px;
            position:absolute;
            top:380px;
            width:500px;
            height:400px;
            z-index:2;
            margin-left:225px;
            margin-top:-100px;

        }




    @media screen and (max-width: 450px) {
    	.container {
    		width: 25%;
        .containerHoriz{
            font-size: 20px;
            background: #585858;
            width: auto;
            text-align : center;
            height: 130px;
            border-collapse: separate;
            border-spacing: 10px 10px;
        }
        .titre{
            color:white;
            font-size: 25px;
            position:absolute;
            top:360px;
            width:500px;
            height:400px;
            z-index:2;
            margin-left:100px;
            margin-top:-150px;
        }
        .sous_titre{

            color:white;
            font-size: 15px;
            position:absolute;
            top:380px;
            width:500px;
            height:400px;
            z-index:2;
            margin-left:225px;
            margin-top:-100px;

        }




